.container {
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#arrow_back{
    color: black;
    text-decoration: none;
}
.name{
    text-transform: uppercase;
    font-weight: bold;
}
.number{
    font-weight: bold;
    text-align: right;
}

.pokeDetail{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.container__detail{
    padding-top: 1.3rem;
}
.detail{
    display: flex;
    gap: 25px;
    list-style-type: none;
}
.detail li {
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 0.5rem;
}
.detail_img {
    margin-left: 60px;
}
.poke__status {
    display: flex;
    justify-content: space-between;
    background-color: #818080;
    padding: 1rem;
    margin-top: 1rem;
    height: 29vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
